html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
    background: #717070;
}

/*code, kbd, pre, samp {*/
/*    font-family: "Segoe UI",sans-serif;*/
/*    font-size: 1em;*/
/*    line-height: 1.4em;*/
/*}*/
.container-cs{
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.operator {
    color: #e4256a;
}
.keyword {
    color: #5bcbe6;
}
.string {
    color: #d2c86b;
}
.lg {
    color: #a77beb;
}
.fn {
    color: #8bcf2b;
}
.or {
    color: #df8622;
}
.comment {
    color: #736f5d;
    font-size: 15px;
    display: inline-block;
    padding: 0 5px;
}

.block-js,
.block-html,
.block-code {
	position: relative;
}
.block-js:after,
.block-html:after,
.block-code:after{
    display: inline-block;
    background-color: #717070;
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 1px;
}
.block-js:after{
    content: 'JS';
}
.block-html:after{
    content: 'HTML';
}
.block-code:after{
    content: attr(data-rel);
}

.menu-s{
	/*position: sticky;*/
    top: 10px;
    font-size: 15px;
    padding-left: 25px;
}
.menu-s__wrapper{
    background-color: #fff;
    padding: 0 10px 10px 10px;
    margin: 0 -10px;
    position: sticky;
    top: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 10px);
}
