<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="container">
    	<hr>
    	<div class="text-center">	
    		<h4>VUE.JS (Guide)</h4>
    	</div>
    	<hr>
        <div class="row">
            <div class="col-gl-3">
                <ul>
                    <li><a href="">Vue CLI</a></li>
                    <li><a href="">Компоненты</a></li>
                    <li><a href="">Директивы</a></li>
                    <li><a href="">Фильтры и Миксины</a></li>
                    <li><a href="">Работа с формами</a></li>
                </ul>
                <h5>Плагины</h5>
                <hr>
                <ul>
                    <li><a href="">Валидация форм с vuelidate</a></li>
                    <li><a href="">Роутинг с vue-router</a></li>
                    <li><a href="">Работа с сервером с vue-resource</a></li>
                    <li><a href="">Работа с данными с vuex</a></li>
                </ul>
            </div>
        </div>
        
    	<div class="row">
    		<div class="col-lg-3">
                <h5>Основы VUE.JS</h5>
                <hr>
    			<ul class="menu-s">
    				<li><a href="#interpolation">Интерполяция</a></li>
    				<li><a href="#dynamic-attributes">Динамические атрибуты</a></li>
    				<li><a href="#HTML-code">Вывод HTML кода</a></li>
    				<li><a href="#adding-events">Добавление событий</a></li>
    				<li><a href="#transfer-parameters-method">Передача параметров в метод</a></li>
                    <li><a href="#event-modifiers">Модификаторы событий</a></li>
                    <li><a href="#vmodel">Модель для работы с формами</a></li>
                    <li><a href="#CSS-classes">Работа с CSS классами</a></li>
                    <li><a href="#dynamic-styles">Динамические стили</a></li>
                    <li><a href="#display-items">Управление отображением элементов</a></li>
                    <li><a href="#working-with-lists">Работа со списками</a></li>
                    <li><a href="#computed">Оптимизация приложения с computed</a></li>
                    <li><a href="#watch">Отслеживание изменений с watch</a></li>
                    <li><a href="#ref">Доступ к DOM элементам (ref)</a></li>
                    <li><a href="#life-cycle">Жизненный цикл</a></li>
    			</ul>
    		</div>
    		<div class="col-lg-9">

    			<h5 id="interpolation">Интерполяция</h5>
    			<hr>
    			<code>
    				<pre class="block-html">{{ variable }}</pre>
    			</code>
    			<p>Вывод различных типов переменной.</p>
    			<code>
<pre class="block-html">
String: {{ name }}
Sum: {{ 90 + 30 }}
Numeber: {{ numeber }}
Method: {{ functionName() }}
If statement: {{ true ? 'I am OK' : '' }}</pre>
    			</code>
    			<hr>


    			<h5 id="dynamic-attributes">Динамические атрибуты</h5>
    			<hr>
    			<p>v N1</p>
    			<code>
    				<pre class="block-html">v-bind:href="variable"</pre>
    			</code>
    			<p>v N2</p>
    			<code>
<pre class="block-html">
:href="variable"
:src="'/path/path/' + varoable"
:class="{ className: isTrue }"
:style="{ fontSize: size + 'px' }"
</pre>
    			</code>
    			<hr>

    			<h5 id="HTML-code">Вывод HTML кода</h5>
    			<hr>
    			<code>
<pre class="block-js">
new Vue({
  data: {
    variableName: '&lt;a href="https://www.google.com/"&gt;Google&lt;/a&gt;'
  }
})</pre>
    			</code>
    			<code>
<pre class="block-html">&lt;div v-html="variableName"&gt;&lt;/div&gt;</pre>
    			</code>
    			<hr>


    			<h5 id="adding-events">Добавление событий</h5>
    			<hr>
    			<p>v N1</p>
    			    			<code>
<pre class="block-html">&lt;div v-on:click="functionName"&gt;&lt;/div&gt;</pre>
    			</code>
    			<p>v N2</p>
    			<code>
<pre class="block-html">&lt;div @click="functionName"&gt;&lt;/div&gt;</pre>
    			</code>

				<code>
<pre class="block-js">
new Vue({
  methods: {
    functionName: function(){
      //code
    }
  }
})</pre>
    			</code>
                <hr>


    			<h5 id="transfer-parameters-method">Передача параметров в метод</h5>
    			<hr>
    			<code>
<pre class="block-html">&lt;div @click="functionName(10, $event)"&gt;&lt;/div&gt;</pre>
    			</code>

				<code>
<pre class="block-js">
new Vue({
  methods: {
    functionName: function(n, event){
      //code
    }
  }
})</pre>
            </code>
            

            <h5 id="event-modifiers">Модификаторы событий</h5>
            <hr>
<code>
<pre class="block-html">&lt;div @click.prevent="functionName(10, $event)"&gt;&lt;/div&gt;</pre>
</code>

            <hr>
            
            <h5 id="vmodel">Модель для работы с формами</h5>
            <hr>

<code>
<pre class="block-html">&lt;input v-model="variableName"&gt;</pre>
</code>
            

            <h5 id="CSS-classes">Работа с CSS классами</h5>
            <hr>

<code>
<pre class="block-html">&lt;div :class="variableName"&gt;&lt;/div&gt;
&lt;div :class="{'className': isTrue, 'className': !isFalse}"&gt;&lt;/div&gt;
&lt;div :class="[classNameA, classNameB]"&gt;&lt;/div&gt;
&lt;div :class="[classNameA, { classNameB: isTrue, classNameC: isTrue }]"&gt;&lt;/div&gt;</pre>
</code>
            <hr>


            <h5 id="dynamic-styles">Динамические стили</h5>
            <hr>

<code>
<pre class="block-html">&lt;div :style="{'background': color, 'height': height + 'px', 'width': height + 'px'}"&gt;&lt;/div&gt;</pre>
</code>
            <hr>


            <h5 id="display-items">Управление отображением элементов</h5>
            <hr>
<p>v N1</p>
<code>
<pre class="block-html">&lt;div v-if="false === true"&gt;&lt;/div&gt;
&lt;div v-else-if="false === true"&gt;&lt;/div&gt;
&lt;div v-else&gt;&lt;/div&gt;</pre>
</code>
<p>v N2</p>
<code>
<pre class="block-html">&lt;div v-show="isTrue"&gt;&lt;/div&gt;</pre>
</code>
            <hr>


            <h5 id="working-with-lists">Работа со списками</h5>
            <hr>
<code>
<pre class="block-html">&lt;div v-for="(value, key, index) in arrayName"&gt; {{index + 1}} {{key}} {{value}} &lt;/div&gt;</pre>
</code>
            <hr>

            <h5 id="computed">Оптимизация приложения с computed</h5>
            <hr>

<code>
<pre class="block-js">new Vue({
  computed: {
    functionName: function(){
      return 1 + 3
    }
  }
})</pre>
</code>
            <hr>


            <h5 id="watch">Отслеживание изменений с watch</h5>
            <hr>

<code>
<pre class="block-js">new Vue({
  data: {
    variableName: 0
  },
  watch: {
    variableName: function(val, val2){
      //code
    }
  }
})</pre>
</code>
            <hr>


            <h5 id="ref">Доступ к DOM элементам (ref)</h5>
            <hr>

<code>
<pre class="block-html">&lt;div ref="refName"&gt;&lt;/div&gt;</pre>
</code>

<code>
<pre class="block-js">new Vue({
  data: {
    variableName: 0
  },
  methods: {
    functionName: function(){
      this.$refs.refName
    }
  }
})</pre>
</code>
            <hr>


            <h5 id="life-cycle">Жизненный цикл</h5>
            <hr>

<code>
<pre class="block-js">new Vue({
beforeCreate: function(){
  //code
},
created: function(){
  //code
},
beforeMount: function(){
  //code
},
mounted: function(){
  //code
},
beforeUpdate: function(){
  //code
},
updated: function(){
  //code
},
beforeDestroy: function(){
  //code
},
destroyed: function(){
  //code
}
});</pre>
</code>


    		</div>
    	</div>
    </div>
</body>
</html>